@using Kmums.Models.User
@inject SignInManager<UserModel> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PublicProfileClass(ViewContext)" id="public-profile" asp-page="./Public">Public profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ImagesProfileClass(ViewContext)" id="SentChats" asp-page="./Images">Photos</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChatProfileClass(ViewContext)" id="chats" asp-page="./Chat">Received messages</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.SentChatProfileClass(ViewContext)" id="SentChats" asp-page="./SentChat">Sent messages</a></li>


    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <!--<li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>-->
</ul>