@page
@model Kmums.Pages.Admin.CategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryModel[0].ParentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CategoryModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                <a asp-page="./CategoryEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./CategoryDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./CategoryDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
